.main {
  position: relative;
  width: 100%;
  height: 600px;
}

.card {
  position: absolute;
  width: 500px;
  top: 0;
  right: 0;
}

body {
  background: #f7f8fa;
}

:global {
  .__dumi-default-layout-footer-meta {
    display: none;
  }
}
